<div class="card shadow text-black bg-light">
  <div class="card-header card-header">
    <h2>{{cartTitle}}</h2>
  </div>
  <div class="card-body div-backgroudcolor">
    <div class="row" >
      <div class="col-sm-4">
        <button class="btn btn-primary btn-sm ml-3 mb-1" (click)="togglePicture()">
          {{showPicture ? 'Hide' : 'Show'}} Picture
        </button>
        <img *ngIf="showPicture" [src]="employee.pictureUrl">
        <!-- <img *ngIf="showPicture" src="{{employee.pictureUrl}}"> -->
      </div>
      <div class="col-sm-8 px-0 py-0">
        <p>Name: <span>{{ employee.fullName }}</span></p>
        <p>Age: <span>{{ employee.age }}</span></p>
        <p>Department: <span>{{ employee.department }}</span></p>
        <p>Address: <span>{{ employee.address.street }} {{ employee.address.city }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
