/* You can add global styles to this file, and also import other style files */
html {
  position: relative;
  min-height: 100vh;
}

.top-navbar-bg-primary {
  background-color: #2f5c8e;
}

h1 {
  color: #2f5c8e;
}

.first-div {
  background-color: #d4f3e0;
}

p {
  color: #0a60b1;
}

span {
  color: #0a60b1;
  font-weight: bolder;
}

hr {
  height: 1px;
  background-color: navy;
}