<h1 class="PageTitle">Application Dashboard</h1>

<div class="row mb-4">
  <div class="col-sm-6">
    <div class="card shadow text-black bg-light">
      <div class="card-header">Library</div>
      <div class="card-body">
        <h5 class="card-title">Books</h5>
        <p class="card-text">Library Books Module. Add, View, Edit and Delete Books. The backend is Node JS + Express. It using Mongo Db for data store</p>
        <a href="#" [routerLink]="['/books']" class="btn btn-primary">Books</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card shadow text-black bg-light">
      <div class="card-header">University</div>
      <div class="card-body">
        <h5 class="card-title">Professors</h5>
        <p class="card-text">College Professors Module. View, Edit and Delete Professors. The backend is .Net Core 3.1 with EF Core and SQL Server. It also uses Redis Cache.</p>
        <a href="/" class="btn btn-primary">Coming Soon</a>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col-sm-6">
    <div class="card shadow text-black bg-light">
      <div class="card-header">Trading</div>
      <div class="card-body">
        <h5 class="card-title">Stock Ticker</h5>
        <p class="card-text">Retrieving the Stock Price. Add, View, Edit and Delete Books. The backend is Node JS + Express. It using Mongo Db for data store</p>
        <a href="/" class="btn btn-primary">Coming Soon</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card shadow text-black bg-light">
      <div class="card-header">Students Enrollment</div>
      <div class="card-body">
        <h5 class="card-title">Students</h5>
        <p class="card-text">Retrieving the Students. Add, View, Edit and Delete Books. The backend is Node JS + Express. It using Mongo Db for data store</p>
        <a href="/" class="btn btn-primary">Coming Soon</a>
      </div>
    </div>
  </div>
</div>
