footer {
    position: fixed;
    background: #1976d2;
    color: white;
    padding: 1px;
    bottom: 0;
    vertical-align: middle;
    color: white !important;
  }
  
  p {
    color: white;
  }
  