@page "/ProfessorsFromGrpc"

<div class="card shadow mt-2 mb-2">
    <div class="card-header">
        <h1 class="PageTitle">Professors List - (Grpc Web)</h1>
    </div>
    <div class="card-body">
        <div>
        </div>
    </div>
</div>