<h2 class="PageTitle">Remove Professor</h2>
<!-- Form -->
<div class="col-md-12 mb-4" *ngIf="professor">
  <form [formGroup]="professorForm" (ngSubmit)="onProfessorRemove(professor.professorId, professorForm.value)" novalidate>

    <div class="form-group divflex">
      <label class="element">Id: </label>
      <input type="text" formControlName="professorId" class="form-control element" [(ngModel)]="professor.professorId"
        readonly>
    </div>

    <div class="form-group divflex">
      <label class="element">Name: </label>
      <input type="text" formControlName="name" class="form-control element" [(ngModel)]="professor.name"
        maxlength="50" readonly>
    </div>

    <div class="form-group divflex">
      <label class="element">DOJ: </label>
      <input type="text" formControlName="doj" class="form-control element" [(ngModel)]="professor.doj" maxlength="10" readonly>
    </div>

    <div class="form-group divflex">
      <label class="element">Teaches : </label>
      <input type="text" formControlName="teaches" class="form-control element" [(ngModel)]="professor.teaches"
        maxlength="50" readonly>
    </div>

    <button type="submit" class="btn btn-danger">
      <i class="fa fa-trash-o fa-lg"></i> Remove Professor</button>
      <button type="button" class="btn btn-info ml-2" [routerLink]="['/professors']">
        <i class="fa fa-table" aria-hidden="true"></i> Professors List</button>

  </form>
</div>
