<div class="card mt-2 mb-2">
  <div class="card-header">
    <h2 class="PageTitle">Edit Professor</h2>
  </div>
  <div class="card-body">
    <!-- Form -->
    <div class="col-md-8 mb-4" *ngIf="professor">
      <form [formGroup]="professorForm" (ngSubmit)="onProfessorEdit(professor.professorId, professorForm.value)"
        novalidate>

        <div class="form-group divflex labelAndTextbox">
          <label class="element col-md-2">Id: </label>
          <input type="text" formControlName="professorId" class="form-control element ml-4"
            [(ngModel)]="professor.professorId" readonly>
        </div>

        <div class="form-group divflex labelAndTextbox">
          <label class="element col-md-2">Name: </label>
          <input type="text" formControlName="name" class="form-control element ml-4" [(ngModel)]="professor.name"
            maxlength="50">
        </div>

        <div class="form-group divflex labelAndTextbox">
          <label class="element col-md-2">DOJ: </label>
          <input type="text" formControlName="doj" class="form-control element ml-4" [(ngModel)]="professor.doj"
            maxlength="10" readonly>
        </div>

        <div class="form-group divflex labelAndTextbox">
          <label class="element col-md-2">Teaches : </label>
          <input type="text" formControlName="teaches" class="form-control element ml-4" [(ngModel)]="professor.teaches"
            maxlength="50">
        </div>

        <div class="form-group divflex labelAndTextbox">
          <label class="element col-md-2">Salary : </label>
          <input type="number" formControlName="salary" class="form-control element ml-4" [(ngModel)]="professor.salary"
            maxlength="50">
        </div>

        <div class="form-group divflex labelAndTextbox">
          <label class="element col-md-2">Is Phd : </label>
          <div class="col-sm-1">
            <input type="checkbox" formControlName="isPhd" class="form-control element ml-2"
              [(ngModel)]="professor.isPhd" maxlength="50">
          </div>
        </div>

        <button type="submit" class="btn btn-primary">
          <i class="fa fa-floppy-o" aria-hidden="true"></i> Save Professor</button>
        <button type="button" class="btn btn-info ml-2" [routerLink]="['/professors']">
          <i class="fa fa-table" aria-hidden="true"></i> Professors List</button>

      </form>
    </div>

  </div>
</div>
