
<div class="card shadow mt-2 mb-2">
  <div class="card-header">
    <h2 class="PageTitle">Professors List</h2>
  </div>
  <div class="card-body">
    <div>
      <a [routerLink]="['/add-professor']" class="float">
        <i class="fa fa-plus float-margintop"></i>
        </a>
    </div>
    <table class='table table-striped table-bordered' aria-labelledby="tableLabel" *ngIf="professorsList">
      <thead class="thead-dark">
        <tr>
          <th>Professor Id</th>
          <th>Name</th>
          <th>DOJ</th>
          <th>Teaches</th>
          <th>Salary</th>
          <th>Is Phd</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let professor of professorsList">
          <td>{{ professor.professorId }}</td>
          <td>{{ professor.name }}</td>
          <td>{{ professor.doj | date}}</td>
          <td>{{ professor.teaches }}</td>
          <td>{{ professor.salary | currency }}</td>
          <td>{{ professor.isPhd }}</td>
          <td>
            <button type="button" class="btn btn-warning btn-sm move-right"
              [routerLink]="['/edit-professor', professor.professorId]">
              <i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Edit</button>
            <button type="button" class="btn btn-danger btn-sm ml-2"
              [routerLink]="['/remove-professor', professor.professorId]"><i class="fa fa-trash-o fa-lg"></i> Remove</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>



