@page "/codeChangesFromGitHub"

@if (codeChangesEntities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card shadow mt-2 mb-2">
        <div class="card-header">
            <h1 class="PageTitle">GitHub Code Changes</h1>
        </div>
        <div class="card-body">
            <div>
                <table class="table table-striped table-bordered table-hover shadow" aria-labelledby="tableLabel">
                    <thead class="table-header-dark">
                        <tr>
                            <th>Owner</th>
                            <th>Author</th>
                            <th>Repo URL</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var codeChange in codeChangesEntities)
                        {
                            <tr>
                                <td>@codeChange.OwnerName</td>
                                <td>@codeChange.AuthorName</td>
                                <td>@codeChange.RepoUrl</td>
                                <td>@codeChange.Modified</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
