/* You can add global styles to this file, and also import other style files */

.sidenav {
  height: inherit;
  width: 15%;
  position: fixed;
  z-index: 1;
  left: 0;
  transition: 0.5s;
}

.top-navbar-color {
  background: #3f51b5;
  color: white;
}

.bg-sidebar {
  background: #0428f173;
  color: white;
}

.PageTitle {
  color: #3f51b5;
}

footer {
  background: #3f51b5;
  color: white;
  padding: 1px;
  bottom: 0;
  vertical-align: middle;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 40px;
  top: 70px;
  background-color: #3f51b5;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.float-margintop {
  margin-top: 22px;
}

.labelAndTextbox {
  display: flex;
}

.btn-maincolor {
	background-color: #3f51b5!important;
	color: white!important;
}

.table-header-dark{
	background-color: #3f51b5!important;
	color: white!important;
}

.spinner {
  font-size:44px;
  color:#3f51b5;
}

a:hover{
  color: yellow!important;
}
