<h2 class="PageTitle">Professors List</h2>

<table class='table table-striped table-info' aria-labelledby="tableLabel" *ngIf="professorsList">
  <thead class="thead-dark">
    <tr>
      <th>Professor Id</th>
      <th>Name</th>
      <th>DOJ</th>
      <th>Teaches</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let professor of professorsList">
      <td>{{ professor.professorId }}</td>
      <td>{{ professor.name }}</td>
      <td>{{ professor.doj | date}}</td>
      <td>{{ professor.teaches }}</td>
      <td>
        <button type="button" class="btn btn-success btn-sm move-right"
          [routerLink]="['/edit-professor', professor.professorId]">Edit</button>
        <button type="button" class="btn btn-danger btn-sm element"
          [routerLink]="['/remove-professor', professor.professorId]">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
