/* You can add global styles to this file, and also import other style files */

.sidenav {
  height: inherit;
  width: 15%;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: blueviolet;
  transition: 0.5s;
  padding-top: 60px;
}

.bg-sidebar {
  background-color: blueviolet;
}

footer {
  color: white;
  padding: 1px;
  bottom: 0;
}
