<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top top-nav-bar-overrides py-0">
    <a routerLink="/" class="navbar-brand mx-4">
      <i class="fa fa-university"></i> Books Store
    </a>
    <ul class='nav nav-pills'>
      <li><a routerLink="/list-books" routerLinkActive='active' class="nav-link">Books List</a></li>
      <li><a routerLink="/aboutus" routerLinkActive='active' class="nav-link">About Us</a></li>
      <li><a routerLink="/contactus" routerLinkActive='active' class="nav-link">Contact Us</a></li>
    </ul>
  </nav>
</header>