/* You can add global styles to this file, and also import other style files */

.sidenav {
	height: inherit;
	width: 15%;
	position: fixed;
	z-index: 1;
	left: 0;
	transition: 0.5s;
}

.top-navbar-color {
	background: #2d5294;
	color: white;
}

.bg-sidebar {
	background: #f9f9f6;
	color: white;
}

.navbar ul {
	display: flex;
}

.navbar a {
	color: #fff;
	padding: 0.45rem;
	margin: 0 0.25rem;
}

.navbar a:hover {
	color: yellow;
}

.navbar .welcome span {
	margin-right: 0.6rem;
}

.PageTitle {
	color: #2d5294;
}

footer {
	background: #2d5294;
	color: white;
	padding: 1px;
	bottom: 0;
	vertical-align: middle;
}

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	right: 40px;
	top: 70px;
	background-color: #2d5294;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}

.float-margintop {
	margin-top: 22px;
}

.labelAndTextbox {
	display: flex;
}

.btn-maincolor {
	background-color: #2d5294 !important;
	color: white !important;
}

.table-header-dark {
	background-color: #2d5294 !important;
	color: white !important;
}

.spinner {
	font-size: 44px;
	color: #2d5294;
}

a:hover {
	color: white !important;
}
