<div class="row justify-content-between col-sm-12">
    <div class="container py-2" *ngIf="!employeesList">
        <h1 class="spinner">Loading Employees List ...</h1>
        <span class="spinner">
            <i class="fa fa-spinner fa-spin fa-4x"></i>
        </span>
    </div>
    <!-- <div class="container col-sm-12 row justify-content-between py-4 mx-0 my-1" *ngIf="employeesList.length"> -->
    <div class="div-container row col-sm-4 py-2 px-0 ml-0" *ngFor="let employee of employeesList">
        <div class="col-sm-12">
            <h3>{{employee.name}}</h3>
        </div>
        <div class="col-sm-4">
            <img src="assets{{employee.pictureUrl}}" width="150px" height="150px">
        </div>
        <div class="col-sm-8 py-0 mx-0">
            <p class="ml-2">Is Phd: <span>{{ employee.isPhd }}</span></p>
            <p class="ml-2">DOJ: <span>{{ employee.doj | date }}</span></p>
            <p class="ml-2">Teaches: <span>{{ employee.teaches }}</span></p>
            <p class="ml-2">Salary: <span>{{ employee.salary | currency }}</span></p>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-8">
            <app-rating [numberOfStars]="ratingStars" [currentRating]="employee.rating"
                (ratingClicked)="onRatingClicked($event)">
            </app-rating>
        </div>
    </div>
</div>
<!-- </div> -->