/* You can add global styles to this file, and also import other style files */

.sidenav {
  height: inherit;
  width: 15%;
  position: fixed;
  z-index: 1;
  left: 0;
  transition: 0.5s;
}

.top-navbar-color {
  background: green;
  color: white;
}

.bg-sidebar {
  background:rgba(153, 205, 50, 0.712);
  color: white;
}

.PageTitle {
  color: #007bff;
}

footer {
  background:  green;
  color: white;
  padding: 1px;
  bottom: 0;
  vertical-align: middle;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
  right:40px;
  top: 70Px;
	background-color:green;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px yellowgreen;
}

.float-margintop{
	margin-top:22px;
}

.labelAndTextbox {
  display: flex;
}
