@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

img {
    top: 0;
    left: 0;
    width: 50px !important;
    height: 50Px !important;
    box-shadow: 3px 3px 3px rgb(5, 43, 126) !important;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 40px;
    top: 38px;
    background-color: #376a9c;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.float-margintop {
    margin-top: 22px;
}

.table-header-dark {
    background-color: #376a9c;
    color: white !important;
}

.span-styles {
    font-size: 30px;
}

.PageTitle {
    color: #251B24;
}
